.header {
  .header__group {
    width: 100%;

    .header__group__logo {
      max-width: 170px;
    }

    .header__group__icon {
      gap: 0.5rem;
      min-width: 170px;

      .icon {
        font-size: 1.5rem;
        cursor: pointer;
      }

      .login-menu {
        background-color: white;
        width: 250px;
        right: 0;
        top: 25px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        z-index: 10;

        .login-menu-btn {
          &:hover {
            background-color: #262525;
          }

          background-color: #EF5B5B;
          width: 85%;
          border-radius: 0px;
          color: white;
          transition: all .3s ease-in-out;
        }


        .register-box {
          gap: 0.2rem
        }
      }
    }
  }
}