.khanh_popover_menu {
  background-color: white;
  width: 250px;
  right: 0;
  top: 25px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  opacity: 0;
  transition: all .3s ease-in-out;

  &.active {
    opacity: 1;
  }
}