@import "~bootstrap/scss/bootstrap";

.splide {
    max-width: 100%;

    .splide__list {
        border: none;

        .card {
            border: none;

            .card__price {
                color: $danger;
            }

            .card__icon-group {
                gap: 0.5rem;
              
                .card__icon-group__icon {
                  width: 35px;
                  height: 35px;
                  background-color: black;
                  color: white;
                  border-radius: 50%;
              
                  i {
                    font-size: 1.3rem;
                  }
                }
            }
        }
    }
}

.image-highlight-box {
    .card-image img {
        border: 0px;
        padding: 0px;
        margin: 0px;
        border-radius: 0px;
    }
}