@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'boxicons/css/boxicons.min.css';
@import './home.scss';
@import './header.scss';
@import './header_menu.scss';
@import './khanh_popover.scss';
@import '@splidejs/splide/css';
@import './product_scroll_splide.scss';
@import './footer_sign_up.scss';



@import "./xlarge/general.scss";


body {
  font-family: Montserrat, sans-serif;
}

.letter-spacing-1 {
  letter-spacing: 0.1rem;
}

.image-highlight {
  .image-highlight__title {
    height: 3.5rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 2px;
  }
}