<section class="footer-sign-up text-center">
    <div>
        <h2>Sign Up For Our Newsletter</h2>
    </div>
    <div>
        <input type="text">
        <button type="button">Subscribe</button>
    </div>
</section>