<section class="footer-sign-up text-center my-5">
    <div class="py-4">
        <h3 class="text-uppercase">Sign Up For Our Newsletter</h3>
    </div>
    <div class="pb-5">
        <div class="sign-up-box">
            <input class="sign-up-box__input" type="text" placeholder="Email address">
            <button class="sign-up-box__button" type="button">Subscribe</button>
        </div>
    </div>
</section>