<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
  <header>
    {{!-- header --}}
    <section class="header">
      <div class="header__group d-flex justify-content-between">
        <div class="header__group__menu">
          <div class="d-flex">
            <div>
              <div class="bx bx-menu" id="menu-icon"></div>
            </div>
            <div>
              <div class="bx bx-search" id="menu-icon"></div>
            </div>
          </div>
        </div>
        <div class="header__group__logo">
          <img src="./static/logo.png" alt="logo" />
        </div>
        <div class="header__group__logo">
          user cart [love, search]
        </div>
      </div>
    </section>
  </header>
  {{!-- banner --}}
    <section class="banner">

    </section>