<div class="header__group__menu d-none d-lg-block">
  <div class="d-flex header__group__menu__items">
    <div class="header__group__menu__item position-relative">
      <div class="header__group__menu__item__title">
        About Us
      </div>
      <div class="header__group__menu__item__menu shadow pt-1 bg-body rounded position-absolute">
        <ul class="list-group">
          <li class="list-group-item">Activities</li>
          <li class="list-group-item">Development</li>
          <li class="list-group-item">Story</li>
          <li class="list-group-item">Contact Us</li>
        </ul>
      </div>
    </div>
    <div class="header__group__menu__item position-relative">
      <div class="header__group__menu__item__title">
        Men
      </div>
      <div class="header__group__menu__item__menu shadow pt-1 bg-body rounded position-absolute">
        <ul class="list-group">
          <li class="list-group-item">Sneaker Men</li>
          <li class="list-group-item">Men's Running</li>
          <li class="list-group-item">Men's Sandal</li>
        </ul>
      </div>
    </div>
    <div class="header__group__menu__item position-relative">
      <div class="header__group__menu__item__title">
        Women
      </div>
      <div class="header__group__menu__item__menu shadow pt-1 bg-body rounded position-absolute">
        <ul class="list-group">
          <li class="list-group-item">Sneaker Women</li>
          <li class="list-group-item">Women's Running</li>
          <li class="list-group-item">Women's Sandal</li>
        </ul>
      </div>
    </div>
    <div class="header__group__menu__item position-relative">
      <div class="header__group__menu__item__title">
        Girl
      </div>
    </div>
    <div class="header__group__menu__item position-relative">
      <div class="header__group__menu__item__title">
        Sales
      </div>
    </div>
  </div>
</div>