<main class="main">
  <div class="container">
    <div class="scroll">
      <div class="card">
        <div class="card-image">
          <img src="./static/product1.jpg" loading="lazy" class="responsive" alt="Images">
        </div>
        <div>
          Biti's Hunter Core
        </div>
        <div>
          Price: $29.99
        </div>
        <div class="d-flex">
          <div class="bx bx-menu" id="menu-icon"></div>
          <div class="bx bx-search" id="menu-icon"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="./static/product1.jpg" loading="lazy" class="responsive" alt="Images">
        </div>
        <div>
          Biti's Hunter Core
        </div>
        <div>
          Price: $29.99
        </div>
        <div class="d-flex">
          <div class="bx bx-menu" id="menu-icon"></div>
          <div class="bx bx-search" id="menu-icon"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="./static/product1.jpg" loading="lazy" class="responsive" alt="Images">
        </div>
        <div>
          Biti's Hunter Core
        </div>
        <div>
          Price: $29.99
        </div>
        <div class="d-flex">
          <div class="bx bx-menu" id="menu-icon"></div>
          <div class="bx bx-search" id="menu-icon"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="./static/product1.jpg" loading="lazy" class="responsive" alt="Images">
        </div>
        <div>
          Biti's Hunter Core
        </div>
        <div>
          Price: $29.99
        </div>
        <div class="d-flex">
          <div class="bx bx-menu" id="menu-icon"></div>
          <div class="bx bx-search" id="menu-icon"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="./static/product1.jpg" loading="lazy" class="responsive" alt="Images">
        </div>
        <div>
          Biti's Hunter Core
        </div>
        <div>
          Price: $29.99
        </div>
        <div class="d-flex">
          <div class="bx bx-menu" id="menu-icon"></div>
          <div class="bx bx-search" id="menu-icon"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="./static/product1.jpg" loading="lazy" class="responsive" alt="Images">
        </div>
        <div>
          Biti's Hunter Core
        </div>
        <div>
          Price: $29.99
        </div>
        <div class="d-flex">
          <div class="bx bx-menu" id="menu-icon"></div>
          <div class="bx bx-search" id="menu-icon"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="./static/product1.jpg" loading="lazy" class="responsive" alt="Images">
        </div>
        <div>
          Biti's Hunter Core
        </div>
        <div>
          Price: $29.99
        </div>
        <div class="d-flex">
          <div class="bx bx-menu" id="menu-icon"></div>
          <div class="bx bx-search" id="menu-icon"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="./static/product1.jpg" loading="lazy" class="responsive" alt="Images">
        </div>
        <div>
          Biti's Hunter Core
        </div>
        <div>
          Price: $29.99
        </div>
        <div class="d-flex">
          <div class="bx bx-menu" id="menu-icon"></div>
          <div class="bx bx-search" id="menu-icon"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>