
<div class="d-flex justify-content-center image-highlight-box">
  <section class="splide mx-3" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="card">
            <div class="card-image">
              <img src="./static/highlight7.png" loading="lazy" class="img-fluid img-thumbnail responsive" alt="Images">
            </div>            
          </div>
        </li>
        <li class="splide__slide">
          <div class="card">
            <div class="card-image">
              <img src="./static/highlight8.png" loading="lazy" class="img-fluid img-thumbnail responsive" alt="Images">
            </div>            
          </div>
        </li>
        <li class="splide__slide">
          <div class="card">
            <div class="card-image">
              <img src="./static/highlight9.png" loading="lazy" class="img-fluid img-thumbnail responsive" alt="Images">
            </div>            
          </div>
        </li>
        <li class="splide__slide">
          <div class="card">
            <div class="card-image">
              <img src="./static/highlight10.png" loading="lazy" class="img-fluid img-thumbnail responsive" alt="Images">
            </div>            
          </div>
        </li>
        <li class="splide__slide">
          <div class="card">
            <div class="card-image">
              <img src="./static/highlight11.png" loading="lazy" class="img-fluid img-thumbnail responsive" alt="Images">
            </div>            
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>